In [10]:
import pandas as pd
import nltk
nltk.download('punkt_tab')
from nltk.tokenize import sent_tokenize

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Βαγγέλης\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

In [12]:
text = """
The alarm rang at 7 in the morning as it usually did on Tuesdays. She rolled over,
stretched her arm, and stumbled to the button till she finally managed to switch it off.
Reluctantly, she got up and went for a shower. The water was cold as the day before the engineers
did not manage to get the boiler working. Good thing it was still summer.
Upstairs, her cat waited eagerly for his morning snack. Miaow! He voiced with excitement
as he saw her climb the stairs.
"""

In [13]:
# separate text into sentences

sent_tokenize(text)

['\nThe alarm rang at 7 in the morning as it usually did on Tuesdays.',
 'She rolled over,\nstretched her arm, and stumbled to the button till she finally managed to switch it off.',
 'Reluctantly, she got up and went for a shower.',
 'The water was cold as the day before the engineers\ndid not manage to get the boiler working.',
 'Good thing it was still summer.',
 'Upstairs, her cat waited eagerly for his morning snack.',
 'Miaow!',
 'He voiced with excitement\nas he saw her climb the stairs.']

In [14]:
# count number of sentences

len(sent_tokenize(text))

8

In [ ]:
df = pd.read_csv(r'C:\Users\Βαγγέλης\Desktop\Σχολή\4o Έτος\7ο Εξάμηνο\Μηχανική Μάθηση για Επιστήμη Δεδομένων και Ανάλυση\Labs\Lab 5 - Exracting Features from Text\imdb_dataset.csv')
df.rename(columns={'review': 'text'}, inplace=True)

# Example: Tokenize sentences for a sample review
sample_text = df['text'][0]
sentences = sent_tokenize(sample_text)
sentence_count = len(sentences)

# Apply sentence tokenization to the entire dataset
df['num_sentences'] = df['text'].apply(lambda x: len(sent_tokenize(x)))

# Display the updated DataFrame with the new sentence count feature
df[['text', 'num_sentences']].head()

                                                text  num_sentences
0  One of the other reviewers has mentioned that ...             10
1  A wonderful little production. <br /><br />The...              7
2  I thought this was a wonderful way to spend ti...              4
3  Basically there's a family where a little boy ...              6
4  Petter Mattei's "Love in the Time of Money" is...              9

In [17]:
# take the first 10 rows to speed things up

df = df.loc[1:10]
df

                                                 text sentiment
1   A wonderful little production. <br /><br />The...  positive
2   I thought this was a wonderful way to spend ti...  positive
3   Basically there's a family where a little boy ...  negative
4   Petter Mattei's "Love in the Time of Money" is...  positive
5   Probably my all-time favorite movie, a story o...  positive
6   I sure would like to see a resurrection of a u...  positive
7   This show was an amazing, fresh & innovative i...  negative
8   Encouraged by the positive comments about this...  negative
9   If you like original gut wrenching laughter yo...  positive
10  Phil the Alien is one of those quirky films wh...  negative

In [19]:
import re

# Remove HTML tags (e.g., <br />) from each review
df['text'] = df['text'].apply(lambda x: re.sub(r'<.*?>', '', x))

# Display the cleaned DataFrame
df.head()

                                                text sentiment
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive

In [20]:
print(df['text'][1])

A wonderful little production. The filming technique is very unassuming- very old-time-BBC fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. The actors are extremely well chosen- Michael Sheen not only "has got all the polari" but he has all the voices down pat too! You can truly see the seamless editing guided by the references to Williams' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. A masterful production about one of the great master's of comedy and his life. The realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional 'dream' techniques remains solid then disappears. It plays on our knowledge and our senses, particularly with the scenes concerning Orton and Halliwell and the sets (particularly of their flat with Halliwell's murals decorating every surface) are terribly well done.

In [21]:
df['num_sent'] = df['text'].apply(sent_tokenize).apply(len)

df

                                                 text sentiment  num_sent
1   A wonderful little production. The filming tec...  positive         7
2   I thought this was a wonderful way to spend ti...  positive         4
3   Basically there's a family where a little boy ...  negative         6
4   Petter Mattei's "Love in the Time of Money" is...  positive         9
5   Probably my all-time favorite movie, a story o...  positive         6
6   I sure would like to see a resurrection of a u...  positive         1
7   This show was an amazing, fresh & innovative i...  negative         9
8   Encouraged by the positive comments about this...  negative         7
9   If you like original gut wrenching laughter yo...  positive         3
10  Phil the Alien is one of those quirky films wh...  negative         1